<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fh.eddy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fh.eddy.MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewEntryForm"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
        <activity
            android:name=".Activity_Manager"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
        <activity
            android:name=".EventManager"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
        <activity
            android:name=".MedicineManager"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
        <activity
            android:name=".MealFactorManager"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
        <activity
            android:name="com.example.fh.eddy.EditEntryForm"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
        <activity
            android:name="com.example.fh.eddy.ResetActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fh.eddy.MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fh.eddy.MainScreenActivity" />
        </activity>
    </application>

</manifest>
